<ul>
    <li class="home current" data-href="/webapp/myctrip/index" data-app="myctrip/index.html">
        <div>我的携程</div>
    </li>
    <li class="order" data-href="/webapp/myctrip/orders/allorders" data-app="myctrip/index.html#orders/allorders">
        <div>订单</div>
    </li>
    <li id="ctripmenu_wallet" class="wallet">
        <div>钱包</div>
    </li>
    <li id="ctripmenu_coupon" class="coupon">
        <div>优惠券</div>
    </li>
    <li class="point" data-href="/webapp/cpage/mypoints" data-app="cpage/index.html#mypoints">
        <div>积分</div>
    </li>
    <li class="favorite" data-href="/webapp/favorite/index.html" data-app="favorite/index.html">
        <div>收藏</div>
    </li>
    <li class="trip" data-href="/webapp/you/lifejourney/home?responsive=1" data-app="http://m.ctrip.com/webapp/you/lifejourney/home?responsive=1">
        <div>一生的旅行</div>
    </li>
    <li class="member" data-href="destination/user/index.html#/?fromMyCtrip=1">
        <div>社区</div>
    </li>
    <li class="setting multi-list" data-href="/webapp/myctrip/common/setting">
        <div>设置<span>常用信息、订阅</span>
        </div>
    </li>
    <li class="about" data-href="/webapp/myctrip/common/about" data-app="myctrip/index.html#common/about">
        <div>关于</div>
    </li>
</ul>
