<div id="sideNav" class="aside clearfix"> 
   <dl class="sidenav sidenav_c"> 
    <dt>
     <a href="http://m.ctrip.com/webapp/myctrip/index?for=test" class="navhome selected"><span>我的携程首页</span></a>
    </dt> 
   </dl>    
   <dl class="sidenav sidenav_c"> 
    <dt>
     <a href="http://m.ctrip.com/webapp/myctrip/orders/allorders?for=test" class="allorders"><span>订单</span></a>
    </dt>     
   </dl> 
   <dl class="sidenav"> 
    <dt>
     <a href="javascript:;"><span>钱包</span><i class="ico_arr"></i></a>
    </dt> 
    <dd>     
     <a href="https://secure.ctrip.com/Balance-GiftCard/zh-cn/TravelTicket.aspx"><span>礼品卡</span></a>
     <a href="https://secure.ctrip.com/Payment-Base-UsedCardList/zh-cn/UsedCardList.aspx"><span>银行卡</span></a>
     <a href="https://secure.ctrip.com/Balance-CashAccount/zh-cn/CashAccount.aspx"><span>返现账户</span></a>
     <a href="https://secure.ctrip.com/Payment-Base-PaymentPwd/Wallet/View/WalletSafetyIndex.aspx"><span>安全中心</span></a>
    </dd> 
   </dl> 
   <dl class="sidenav"> 
    <dt>     
     <a href="https://smarket.ctrip.com/Promocode/zh-cn/Promocode.aspx"><span>优惠券</span></a>
    </dt>
   </dl> 

   <dl class="sidenav"> 
    <dt>     
     <a href="https://sinfo.ctrip.com/MyInfo/AccountCenter/MyMileage.aspx"><span>积分</span></a>
    </dt>
   </dl>

   <dl class="sidenav"> 
    <dt>     
     <a href="http://my.ctrip.com/FavoriteOnline/hotel/hotellist.aspx"><span>收藏</span></a>
    </dt>
   </dl>

   <dl class="sidenav"> 
    <dt>
     <a href="javascript:;"><span>个人中心</span><i class="ico_arr"></i></a>
    </dt> 
    <dd> 
     <a href="https://sinfo.ctrip.com/MyInfo/AccountCenter/UserInfoUpdate.aspx"><span>我的信息</span></a>
     <a href="http://my.ctrip.com/Home/Third/TrdManager.aspx"><span>绑定与关联</span></a>
     <a href="https://sinfo.ctrip.com/MyInfo/AccountCenter/AccountSecurity.aspx"><span>账户安全</span></a>  
    </dd> 
  </dl>

   <dl class="sidenav"> 
    <dt>
     <a href="javascript:;"><span>常用信息</span><i class="ico_arr"></i></a>
    </dt> 
    <dd>
     <a href="http://my.ctrip.com/Home/Passenger/PassengerList.aspx"><span>常用旅客信息</span></a>
     <a href="http://my.ctrip.com/Home/Address/AddressList.aspx"><span>常用地址</span></a>
     <a href="http://my.ctrip.com/Home/Invoice/InvoiceList.aspx"><span>常用发票</span></a>
    </dd> 
   </dl> 

   <dl class="sidenav"> 
    <dt>
     <a target="_blank" href="http://you.ctrip.com/members/"><span>社区</span></a>
    </dt> 
   </dl> 

   <!-- <dl class="sidenav"> 
    <dt>
     <a target="_blank" href="http://you.ctrip.com/members/"><span>参议俱乐部</span></a>
    </dt> 
   </dl> -->

   <dl class="sidenav"> 
    <dt>
     <a href="javascript:;"><span>应用中心</span><i class="ico_arr"></i></a>
    </dt> 
    <dd>
     <a target="_blank" href="http://my.ctrip.com/adv/Loyalty/MyGrowup.aspx"><span>我的成长</span></a>
     <a href="http://my.ctrip.com/Home/Order/OrderReviewList.aspx"><span>我的点评</span></a>
     <a href="http://my.ctrip.com/Customer-API-Online/MyJourney.aspx"><span>旅行日程</span></a>     
     <a href="http://my.ctrip.com/subscription/Subscribe.aspx"><span>邮件订阅</span></a>
    </dd> 
   </dl> 
</div>